.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.swiper {
  position: relative;
  width: 100%;
  height: 300px;
}
.slider {
  position: absolute;
  width: 60%;
  height: 60%;
  /* background-color: #f8ebc9; */
  flex-direction: row;
    justify-content: center;
}
.img-slider {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.bg-slider{
    background-color:  #f8ebc9;
}


.captions {
  display: inline-block;
  flex-direction: row-reverse;
  align-content: center;
}
.captionstext {
  color: #851313;
  
}

/* category */
.category{
  max-height: 350px;
  overflow: scroll ;
  scrollbar-width: none;
  
}
.nav-collapse{
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
